.text {
}

.text--white {
  color: $color2;
}

.text--middle {
  font-size: 2.8rem;
}

.text--small {
  font-size: 1.8rem;
}

.text--right {
  text-align: right;
}

.text--semibold {
  font-weight: 500;
}

.mark {
  color: $color4;
}
