$color1: #030303;
$color2: #ffffff;
$color3: #e5e5e5;
$color4: #710707;
$color5: #9d8665;
$color6: #caaa7d;
$color7: #24809e;

$font-family: 'Roboto', 'Verdana', serif;

$font-size-default: 2.2rem;
$font-size-h1: 8rem;
$font-size-h3: 3.2rem;

$desktop-x: 1920px;
$desktop-m: 1440px;
$desktop-s: 1280px;

$tablet-x: 1024px;
$tablet-m: 991px;
$tablet-s: 767px;

$mobile-x: 479px;
$mobile-m: 375px;
$mobile-s: 320px;
