@import "../../../scss/utils/vars";
@import "../../../scss/utils/placeholders";

.button {
  padding: 20px 30px;
  color: $color2;
  background-color: $color6;
  border-radius: 8px;
  font-size: $font-size-x;
  @extend %transition-2;

  &:hover {
    background-color: $color5;
  }
}
