@import 'utils/fonts';
@import 'utils/vars';
@import 'utils/reset';
@import 'utils/placeholders';
@import 'utils/mixins';

@import 'components/links';
@import 'components/text';

@import 'layout/section';
@import 'layout/container';
@import 'layout/columns';

.image1 {
  width: 200px;
  height: 100%;
  object-fit: cover;
}

.image2 {
  width: 200px;
  height: 200px;
  background-image: url('../img/image2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
