/* UTILS */
@import 'utils/mixins';
@import 'utils/vars';
@import 'utils/common';

/* LAYOUTS */
@import 'layouts/container';

/* COMPONENTS */

.image {
  background-image: url('../img/image.jpeg');
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: cover;
}
