include view/libs/_libs

doctype html
html(lang='en')

	include view/layouts/_head

	body(class="d-flex flex-column min-vh-100")

		+jpg('image2')

		+jpeg('image')

		+png('superman')

		+svg('enter')

		div(class='container__button')

		include view/layouts/_header

		include view/content/_home

		include view/layouts/_footer
